@model MVC_grade_app.Entities.Course

@{
    ViewData["Title"] = "Course Details";
}

<div class="container">
    <h1 class="display-4">Course Details</h1>
    <hr class="mb-4">

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-md-10">
            <pre>@Html.DisplayFor(model => model.Description)</pre>
        </dd>
    </dl>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        |
        <a asp-action="Index" class="btn btn-link">Back to List</a>
    </div>
</div>
